input:required{
    border: 2px solid green;
}
input:optional{
    margin: 2rem;
    
}
input:checked{
    margin: 4rem;
    
}
br:empty{
    line-height: 4rem;
}
p::selection{
    background: gold;
    color: red;
}
p::first-letter{
    font-size: 3rem;
}
p:hover{
    background: teal;
    color: red;
    font-size: 2rem;
}
p::after{
    content: "Dobrze jest";
    padding-left: 3rem;
    font-size: 4rem;
    color: rgb(60, 24, 192);
}
h1::selection{
    color: yellow;
    background: red;
}
h1::first-letter{
    color: royalblue;
    font-size: 5vh;
    background-color: sandybrown;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 3rem;
    margin-left: 7rem;
    margin-top: 4rem;
}
.a{
    background: lightpink;
    padding: 2rem;
    width: 50rem;
}
.b{
    background: lightskyblue;
    padding: 2rem;
    width: 50rem;
}
.c{
    background: lime;
    padding: 2rem;
    width: 50rem;
}
.liczby{
    font-size: 3rem;
    background: yellowgreen;
    padding: 2rem;
    width: 50rem;

}
